<!-- ======================= Footer START -->
<footer class="py-3">
    <div class="container">
        <div class="row align-items-center justify-content-md-between py-2">
            <div class="col-md-6">
                <!-- Copyright -->
                <div class="text-center text-md-start">&copy; {% now "Y" %} <a href="javascript:void(0)"
                        class="text-reset btn-link" target="_blank">Blogzine</a>. All rights reserved
                </div>
            </div>
            <div class="col-md-6 d-sm-flex align-items-center justify-content-center justify-content-md-end">
                <!-- Language switcher -->
                <div class="dropup me-0 me-sm-3 mt-3 mt-md-0 text-center text-sm-end">
                    <a class="dropdown-toggle text-body" href="#" role="button" id="languageSwitcher"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Language
                    </a>
                    <ul class="dropdown-menu min-w-auto" aria-labelledby="languageSwitcher">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">German </a></li>
                        <li><a class="dropdown-item" href="#">French</a></li>
                    </ul>
                </div>
                <!-- Links -->
                <ul class="nav text-center text-sm-end justify-content-center justify-content-center mt-3 mt-md-0">
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- ======================= Footer END -->