<div class="col-lg-6">
    <div class="card mb-3">
        <div class="row g-3">
            {% if post.image %}
            <div class="col-4">
                <img class="grayscale rounded-3" src="{{ post.image.url }}" width="300px" height="225px" alt="{{ post.image_caption }}">
            </div>
            {% endif %}
            <div class="col-8">
                <h5><a href="{{ post.get_absolute_url }}" class="btn-link stretched-link text-reset">{{ post.title }}</a></h5>
                <!-- Card info -->
                <ul class="nav nav-divider align-items-center mt-2 small">
                    <li class="nav-item">
                        <div class="nav-link">
                            <div class="d-flex align-items-center position-relative">
                                <span>By <a href="#" class="stretched-link text-reset btn-link">{{ post.author }}</a></span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">{{ post.publish|date:"F j, Y" }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>