<div class="card mb-3">
    <div class="row g-3">
        {% if post.image %}
        <div class="col-4">
            <img class="rounded-0 grayscale" src="{{ post.image.url }}" alt="{{ post.image_caption }}">
        </div>
        {% endif %}
        <div class="col-8">
            <h6><a href="{{ post.get_absolute_url }}" class="btn-link stretched-link text-reset">{{ post.title }}</a></h6>
            <ul class="nav nav-divider align-items-center mt-2 small">
                <li class="nav-item">{{ post.publish|date:"F j, Y" }}</li>
            </ul>
        </div>
    </div>
</div>