{% if page_obj.has_other_pages %}
<div class="col-12 text-center mt-5">
    <nav class="mb-5 d-flex justify-content-center" aria-label="navigation">
        <ul class="pagination pagination-bordered">
            
            {% if page_obj.number > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">First</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">First</span>
                </li>
            {% endif %}
            
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Prev</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Prev</span>
                </li>
            {% endif %}
            
            {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
            <li class="page-item active">
                <span class="page-link">
                    {{ page_num }}
                </span>
            </li>
            {% elif page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            <!-- <li class="page-item disabled"><a class="page-link" href="#">..</a></li> -->
            
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
            {% endif %}

            {% if page_obj.number != page_obj.paginator.num_pages %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Last</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Last</span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}