{% extends "base.html" %}

{% block title %}Archive{% endblock title %}

{% block content %}

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- ======================= Post Archive START -->
    <section class="py-4">
        <div class="container">
            <div class="row g-4 flex-fill">
                <!-- Title -->
                <div class="col-12">
                    <h2 class="m-0"><i class="fas fa-newspaper me-2"></i>Post Archive</h2>
                    <p>All our blog posts</p>
                </div>
                {% for post in posts %}
                {% include 'partials/_features_news.html' %}
                {% endfor %}
                {% include 'partials/_pagination.html' with page_obj=posts %}
            </div>
        </div>
    </section>
    <!-- ======================= Featured stories END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

{% endblock content %}