{% extends "base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- ======================= Inner intro START -->
    <section class="pb-3 pb-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if post.image %}
                    <div class="mb-3">
                        <img class="rounded grayscale" src="{{ post.image.url }}" height="600px" width="1920px" alt="{{ post.image_caption }}">
                    </div>
                    {% endif %}
                    <a href="{# post.category.get_absolute_url #}" class="badge bg-dark mb-2"><i
                            class="fas fa-circle me-2 small fw-bold"></i>{{ post.category.name }}</a>
                    <h1>{{ post.title }}</h1>
                </div>
                <p class="lead">{{ post.excerpt }}</p>
            </div>
            <ul class="nav nav-divider align-items-center">
                <li class="nav-item">
                    <div class="nav-link">
                        <div class="d-flex align-items-center position-relative">
                            <div class="avatar avatar-xs">
                                <div class="avatar-img rounded-circle bg-dark bg-opacity-10">
                                    <span class="text-dark position-absolute top-50 start-50 translate-middle fw-bold small">{{ post.author|make_list|first|title }}</span>
                                </div>
                            </div>
                            <span class="ms-1"><a href="#" class="stretched-link text-reset btn-link">{{ post.author }}</a></span>
                        </div>
                    </div>
                </li>
                <li class="nav-item">{{ post.publish|date:"F j, Y" }}</li>
                <li class="nav-item">{% if post.read_time <= 1 %} < 1 min{% else %}{{ post.read_time }} mins{% endif %} read</li>
                <li class="nav-item"><i class="far fa-eye me-1"></i> {{ post.page_views }} Views</li>
            </ul>
        </div>
    </section>
    <!-- ======================= Inner intro END -->

    <!-- ======================= Main START -->
    <section class="pt-0">
        <div class="container position-relative" data-sticky-container>
            <div class="row">
                <!-- Main Content START -->
                <div class="col-lg-9 mb-5">
                    <!-- <p><span class="dropcap">M</span>oonlight</p> -->
                    {{ post.body|safe|linebreaks }}

                    <!-- Tags -->
                    <!-- <ul class="list-inline text-md-center mt-5">
                        <li class="list-inline-item fw-bold">
                            Tags:
                        </li>
                        <li class="list-inline-item">
                            <a class="text-body btn-link" href="#">#agency</a>
                        </li>
                    </ul> -->

                    <!-- Divider -->
                    <div class="text-center h5 mb-4">. . .</div>

                    {% if post.get_previous_by_publish or post.get_next_by_publish %}
                    <div class="row g-0">
                        {% if post.get_previous_by_publish %}
                        <div class="col-sm-6 bg-primary bg-opacity-10 p-4 position-relative border-end border-1 rounded-start">
                            <span><i class="bi bi-arrow-left me-3 rtl-flip"></i>Previous post</span>
                            <h5 class="m-0"><a href="{{ post.get_previous_post.get_absolute_url }}" class="stretched-link btn-link text-reset">{{ post.get_previous_post }}</a></h5>
                        </div>
                        {% endif %}
                        {% if post.get_next_by_publish %}
                        <div class="col-sm-6 bg-primary bg-opacity-10 p-4 position-relative text-sm-end rounded-end">
                            <span>Next post<i class="bi bi-arrow-right ms-3 rtl-flip"></i></span>
                            <h5 class="m-0"><a href="{{ post.get_next_post.get_absolute_url }}" class="stretched-link btn-link text-reset">{{ post.get_next_post }}</a></h5>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}

                    <!-- Related post START -->
                    <div class="mt-5">
                        <h2 class="my-3"><i class="bi bi-symmetry-vertical me-2"></i>Related post</h2>
                        <div class="tiny-slider arrow-hover arrow-blur arrow-white arrow-round">
                            <div class="tiny-slider-inner" data-autoplay="true" data-hoverpause="true" data-gutter="24"
                                data-arrow="true" data-dots="false" data-items-xl="2" data-items-xs="1">
                                {% for post in similar_posts %}
                                <!-- Card item START -->
                                <div class="card">
                                    <!-- Card img -->
                                    <div class="position-relative">
                                        {% if post.image %}
                                        <img class="card-img grayscale" src="{{ post.image.url }}" alt="{{ post.image_caption }}">
                                        {% endif %}
                                        <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                            <!-- Card overlay bottom -->
                                            <div class="w-100 mt-auto">
                                                <a href="{{ post.category.get_absolute_url }}" class="badge text-bg-dark mb-2"><i
                                                        class="fas fa-circle me-2 small fw-bold"></i>{{ post.category }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body px-0 pt-3">
                                        <h5 class="card-title"><a href="{{ post.get_absolute_url }}"
                                                class="btn-link text-reset stretched-link fw-bold">{{ post.title }}</a></h5>
                                        <!-- Card info -->
                                        <ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                                            <li class="nav-item">
                                                <div class="nav-link">
                                                    <div class="d-flex align-items-center position-relative">
                                                        <div class="avatar avatar-xs">
                                                            <div class="avatar-img rounded-circle bg-dark bg-opacity-10">
                                                                <span class="text-dark position-absolute top-50 start-50 translate-middle fw-bold small">{{ post.author|make_list|first|title }}</span>
                                                            </div>
                                                        </div>
                                                        <span class="ms-3">by <a href="#"
                                                                class="stretched-link text-reset btn-link">{{ post.author }}</a></span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-item">{{ post.publish|date:"F j, Y" }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Card item END -->
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Slider END -->
                    </div>
                    <!-- Related post END -->

                    <!-- Divider -->
                    <hr>
                </div>
                <!-- Main Content END -->

                <!-- Right sidebar START -->
                <div class="col-lg-3">
                    <div data-sticky data-margin-top="80" data-sticky-for="991">
                        <h4>Share this article</h4>
                        <ul class="nav text-white-force">
                            <li class="nav-item">
                                <a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-dark" href="#">
                                    <i class="fab fa-facebook-square align-middle"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-dark" href="#">
                                    <i class="fab fa-twitter-square align-middle"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-dark" href="#">
                                    <i class="fab fa-linkedin align-middle"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-dark" href="#">
                                    <i class="fab fa-pinterest align-middle"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-dark" href="#">
                                    <i class="far fa-envelope align-middle"></i>
                                </a>
                            </li>
                        </ul>

                        <!-- Newsletter -->
                        <div class="bg-light p-4 mt-4 rounded-3 text-center">
                            <h4>Subscribe to our mailing list!</h4>
                            <form>
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Email address">
                                </div>
                                <button type="submit" class="btn btn-dark">Subscribe</button>
                                <div class="form-text">We don't spam</div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Right sidebar END -->
            </div>
        </div>
    </section>
    <!-- ======================= Main END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

{% endblock content %}